{
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "ie >= 10"]
          },
          "modules": 'commonjs'
        }]
      ],
      "plugins": ["rewire"]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-react-jsx",
    ["module-resolver", {
      "root": ["./src/"]
    }]
  ]
}
